body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-bottom: 50px;
    padding-left: 15px;
    background-image: linear-gradient(to left, white, #D1EEEE);
}

img {
    padding-top: 10px;
}

p {
    padding-top: 10px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding-top: 6px;
    list-style-type: none; 
}

input {
    padding: 5px;
}

footer {
    text-align: center;
}


div.tab {
    padding-bottom: 20px;
}

button {
    background-color: #86c9cc;
    background-repeat: none;
    color: ghostwhite;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 13px;
    border: none;
}

.button-container {
    padding: 5px;
}

.fixed-position {
    position: fixed;
}

.movie-container {
    overflow: auto;
}

.movie-thumb {
    float: left;
}

.movie-thumb img {
    display: block;
    padding: 10px;
}

.quantity {
    padding: 5px;
}

.total {
    font-weight: bold;
    font-size: 30px;
}

.checkout {
    margin-bottom: 15px; 
}

.checkout-button {
    background-color: #F79CA7;
    padding: 10px;
}